@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Mukta:wght@300&display=swap');

/* --------------------------------------------------Styling background image */
body {
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    font-family: 'Mukta', sans-serif;
    color: rgb(164,219,232);
/* --------------------------------------------------Positioning the website */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* --------------------------------------------------Styling h1 (Logo), h2 & paragraphs */
h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
    text-transform: uppercase;

    font-family: 'Hanalei Fill', cursive;
}

h2 {
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

p {
    margin-top: 6rem;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

/* --------------------------------------------------Styling rules button */
#rules {
    margin-bottom: 2rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(164,219,232);
}

/* --------------------------------------------------Game board frame size */
#game-board {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 35vh;
    border: 5px solid rgb(40, 40, 43);
    background-color: rgb(164,219,232);
}

/* --------------------------------------------------Styling dino (Player) and walls */
#dino {
    width: 3vw;
    height: 10vh;
    background-color: rgb(0,124,223);
    border: 2px solid rgb(3,82,179);
    position: relative;
    border-radius: 10%;
    top: 70%;
    left: 6%;
}

.animation {
    animation: jump 500ms infinite;
}

@keyframes jump {
    0% {top: 13rem;}
    30% {top: 4rem;}
    70% {top: 4rem;}
    100% {top: 13rem;}
}

#wall {
    width: 3vw;
    height: 6vh;
    background-color: rgb(9,0,136);
    border: 2px solid rgb(3,0,46);
    position: relative;
    border-radius: 10%;
    top: 52%;
    left: 89%;
    animation: wall 1s infinite linear;
}

@keyframes wall {
    0% {left: 35rem;}
    100% {left: -.3rem;}
}

/* --------------------------------------------------Styling jump-button */
#center-button {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

#jump-button {
    height: 4vh;
    width: 20vw;

    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    cursor: pointer;

    background-color: rgb(164,219,232);
    border: 2px solid rgb(40, 40, 43);
    color: rgb(40, 40, 43);
}