@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Mukta:wght@300&display=swap');

/* --------------------------------------------------Styling background image */
body {
    background-image: url(../images/background.webp);
    background-attachment: fixed;
    font-family: 'Mukta', sans-serif;
    color: rgb(164,219,232);
/* --------------------------------------------------Positioning the website */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* --------------------------------------------------Styling h1 (Logo), h2 & paragraphs */
h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
    text-transform: uppercase;

    font-family: 'Hanalei Fill', cursive;
}

h2 {
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

p {
    margin-top: 6rem;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

/* --------------------------------------------------Styling rules button */
#rules {
    margin-bottom: 2rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(164,219,232);
}